USE [master]
GO
/****** Object:  Database [LAVADERO]    Script Date: 13/06/2025 7:50:39 p. m. ******/
CREATE DATABASE [LAVADERO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LAVADERO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\LAVADERO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LAVADERO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\LAVADERO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LAVADERO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LAVADERO]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 13/06/2025 7:50:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[DOCUMENTO] [varchar](15) NOT NULL,
	[NOMBRE] [varchar](20) NULL,
	[APELLIDO] [varchar](20) NULL,
	[TELEFONO] [varchar](12) NULL,
	[EMAIL] [varchar](30) NULL,
	[DIRECCION] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[DOCUMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SERVICIOS]    Script Date: 13/06/2025 7:50:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICIOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](100) NULL,
	[VALOR] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLEADO]    Script Date: 13/06/2025 7:50:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLEADO](
	[CEDULA] [varchar](15) NOT NULL,
	[NOMBRE] [varchar](20) NULL,
	[APELLIDO] [varchar](20) NULL,
	[TELEFONO] [varchar](12) NULL,
	[DIRECCION] [varchar](20) NULL,
	[CARGO] [int] NULL,
	[TURNO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CEDULA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FORMA_PAGO]    Script Date: 13/06/2025 7:50:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FORMA_PAGO](
	[ID_PAGO] [varchar](3) NOT NULL,
	[DESCRIPCION_PAGO] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PAGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACTURA]    Script Date: 13/06/2025 7:50:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTURA](
	[ID_FACTURA] [int] IDENTITY(1,1) NOT NULL,
	[FECHA] [date] NULL,
	[CEDULA_CLIENTE] [varchar](15) NULL,
	[FORMA_PAGO] [varchar](3) NULL,
	[VALOR_TOTAL] [money] NULL,
	[EMPLEADO_ATENCION] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_FACTURA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACTURA_SERVICIO]    Script Date: 13/06/2025 7:50:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTURA_SERVICIO](
	[ID_FACTURA] [int] NOT NULL,
	[ID_SERVICIO] [int] NOT NULL,
	[CANTIDAD] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_FACTURA] ASC,
	[ID_SERVICIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VistaFacturaServicios]    Script Date: 13/06/2025 7:50:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VistaFacturaServicios] AS
SELECT F.ID_FACTURA, F.FECHA, F.CEDULA_CLIENTE + ' '+ C.NOMBRE + ' '+ C.APELLIDO AS CEDULA_CLIENTE, FP.DESCRIPCION_PAGO AS FORMA_PAGO, 
STRING_AGG (S.DESCRIPCION + ' CANT: '+ CAST(FS.CANTIDAD AS VARCHAR(3)) + ' VALOR_UNIDAD: ' + CAST(S.VALOR AS VARCHAR(20)),';')
AS SERVICIOS,
F.VALOR_TOTAL, E.CEDULA + ' ' + E.NOMBRE + ' ' + E.APELLIDO AS EMPLEADO_ATENCION
FROM SERVICIOS S
INNER JOIN FACTURA_SERVICIO FS ON FS.ID_SERVICIO = S.ID
INNER JOIN FACTURA F ON F.ID_FACTURA = FS.ID_FACTURA
INNER JOIN FORMA_PAGO FP ON FP.ID_PAGO = F.FORMA_PAGO
INNER JOIN CLIENTE C ON C.DOCUMENTO = F.CEDULA_CLIENTE
INNER JOIN EMPLEADO E ON E.CEDULA = F.EMPLEADO_ATENCION
GROUP BY
 F.ID_FACTURA, 
    F.FECHA, 
    F.CEDULA_CLIENTE, 
    C.NOMBRE, 
    C.APELLIDO, 
    FP.DESCRIPCION_PAGO, 
    F.VALOR_TOTAL, 
    E.CEDULA, 
    E.NOMBRE, 
    E.APELLIDO;
GO
/****** Object:  Table [dbo].[CARGOS]    Script Date: 13/06/2025 7:50:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARGOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERFIL]    Script Date: 13/06/2025 7:50:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERFIL](
	[id] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[pagina_navegar] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUEJA_RECLAMO]    Script Date: 13/06/2025 7:50:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUEJA_RECLAMO](
	[ID_QUEJA] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCIÓN_QUEJA] [varchar](100) NULL,
	[CEDULA_CLIENTE] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_QUEJA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPOVEHICULO]    Script Date: 13/06/2025 7:50:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPOVEHICULO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TURNOS]    Script Date: 13/06/2025 7:50:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TURNOS](
	[ID_TURNO] [int] NOT NULL,
	[DESCRIPCION_TURNO] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TURNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 13/06/2025 7:50:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[id] [int] NOT NULL,
	[documento_empleado] [varchar](15) NULL,
	[userName] [varchar](50) NOT NULL,
	[clave] [varchar](2000) NOT NULL,
	[salt] [varchar](2000) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO_PERFIL]    Script Date: 13/06/2025 7:50:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO_PERFIL](
	[id] [int] NOT NULL,
	[id_usuario] [int] NOT NULL,
	[id_perfil] [int] NOT NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VEHICULO]    Script Date: 13/06/2025 7:50:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VEHICULO](
	[PLACA] [varchar](6) NOT NULL,
	[MODELO] [varchar](4) NULL,
	[PROPIETARIO] [varchar](15) NULL,
	[TIPO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PLACA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EMPLEADO]  WITH CHECK ADD FOREIGN KEY([CARGO])
REFERENCES [dbo].[CARGOS] ([ID])
GO
ALTER TABLE [dbo].[EMPLEADO]  WITH CHECK ADD FOREIGN KEY([TURNO])
REFERENCES [dbo].[TURNOS] ([ID_TURNO])
GO
ALTER TABLE [dbo].[FACTURA]  WITH CHECK ADD FOREIGN KEY([CEDULA_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([DOCUMENTO])
GO
ALTER TABLE [dbo].[FACTURA]  WITH CHECK ADD FOREIGN KEY([EMPLEADO_ATENCION])
REFERENCES [dbo].[EMPLEADO] ([CEDULA])
GO
ALTER TABLE [dbo].[FACTURA]  WITH CHECK ADD FOREIGN KEY([FORMA_PAGO])
REFERENCES [dbo].[FORMA_PAGO] ([ID_PAGO])
GO
ALTER TABLE [dbo].[FACTURA_SERVICIO]  WITH CHECK ADD FOREIGN KEY([ID_FACTURA])
REFERENCES [dbo].[FACTURA] ([ID_FACTURA])
GO
ALTER TABLE [dbo].[FACTURA_SERVICIO]  WITH CHECK ADD FOREIGN KEY([ID_SERVICIO])
REFERENCES [dbo].[SERVICIOS] ([ID])
GO
ALTER TABLE [dbo].[QUEJA_RECLAMO]  WITH CHECK ADD FOREIGN KEY([CEDULA_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([DOCUMENTO])
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD FOREIGN KEY([documento_empleado])
REFERENCES [dbo].[EMPLEADO] ([CEDULA])
GO
ALTER TABLE [dbo].[USUARIO_PERFIL]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[USUARIO] ([id])
GO
ALTER TABLE [dbo].[USUARIO_PERFIL]  WITH CHECK ADD FOREIGN KEY([id_perfil])
REFERENCES [dbo].[PERFIL] ([id])
GO
ALTER TABLE [dbo].[VEHICULO]  WITH CHECK ADD FOREIGN KEY([PROPIETARIO])
REFERENCES [dbo].[CLIENTE] ([DOCUMENTO])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VEHICULO]  WITH CHECK ADD FOREIGN KEY([TIPO])
REFERENCES [dbo].[TIPOVEHICULO] ([ID])
GO
/****** Object:  StoredProcedure [dbo].[CalcularTotalFactura]    Script Date: 13/06/2025 7:50:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CalcularTotalFactura]
    @ID_FACTURA INT
AS
BEGIN
    UPDATE FACTURA
    SET VALOR_TOTAL = (
        SELECT SUM(S.VALOR)
        FROM FACTURA_SERVICIO FS
        JOIN SERVICIOS S ON FS.ID_SERVICIO = S.ID
        WHERE FS.ID_FACTURA = @ID_FACTURA
    )
    WHERE ID_FACTURA = @ID_FACTURA
END
GO
USE [master]
GO
